body {
    padding-left: 220px;
    --color1: rgb(164, 164, 164);
    --color2: #5a6fff;
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    padding-top: 100px;
}
nav ul {
    list-style: none;
}
nav li {
    cursor: pointer;
    color: var(--color1);
    height: 20px;
    border-bottom: 1px grey solid;
}
nav li:hover {
    border-bottom: 1px var(--color2) solid;
}
header {
    display: inline-block;
    color: var(--color1);
    /*background-color: coral;*/
    border-bottom: 1px var(--color2) solid;
    width: 100%;
    font-size: 30px;
    margin-bottom: 20px;
}
main {
}
th {
    background-color: var(--color1);
    color: var(--color2);
    padding: 0 5px 0 5px;
}
td {
    padding: 0 5px 0 5px;
}
tr:nth-child(even) {background: #eee}
tr:nth-child(odd) {background: #FFF}